autopep8==1.4.4
beautifulsoup4==4.8.1
bootstrap-admin==0.4.3
config==0.4.2
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==2.2.24
django-admin==2.0.0
django-bootstrap4==1.0.1
django-crispy-forms==1.8.0
django-decouple==2.1
django-dotenv==1.4.2
django-excel-response2==2.0.8
django-heroku==0.3.1
django-registration==2.4.1
django-six==1.0.4
django-tinymce==2.8.0
django-url-or-relative-url-field==0.1.2
djangorestframework==3.10.3
future==0.18.1
gunicorn==19.9.0
Pillow==6.2.0
psycopg2==2.8.3
psycopg2-binary==2.8.3
pycodestyle==2.5.0
python-decouple==3.1
pytz==2019.3
screen==1.0.1
serializers==0.2.4
soupsieve==1.9.4
whitenoise==4.1.4
xlwt==1.3.0
